body {
    background-color: #FFF0A4;
    margin: 0px;
}

.buttons {
    display:flex;
    justify-content: center;

}
#indexlogo {
    height:320px;
    margin-top: 320px;
    order: 2;
}
#aboutme {
    height:160px;
    margin-top: 253px;
    order: 1;
    margin-left:
}
#portfolio {
    height:126px;
    margin-top: 522px;
    order:4;
}
#contact {
    height:130px;
    margin-top: 586px;
    order: 3;
}
