body {
    background-color: #FFF0A4;
    margin: 0px;
    display: flex;
    justify-content: center;

}

#elements {

    height: 470px;
    width:470px;
    margin-left: 100%;
    margin-right: 100%;
    position: relative;

}

#indexlogo {
    height:320px;
    z-index: -1;
    position: relative;
    top: -400px;

}
#aboutme {
    height:160px;
    order: 1;
    position: relative;
    margin-top: 300px;
}
#portfolio {
    height:126px;
    order:3;
    position: relative;
    margin-top: 110px;
    margin-left: 180px;

}
#contact {
    height:130px;
    order: 2;
    position: relative;
    margin-top: -73px;
    margin-left: 100px;

}
