body {
    background-color: #FFF0A4;
    margin: 0px;
}

.buttons {
    display:flex;
    justify-content: center;


}
.logocircle {
    display:flex;
    justify-content: center;
    position:relative;
}
#indexlogo {
    height:320px;
    margin-top: 320px;
    position: absolute;
    z-index: -1
}
#aboutme {
    height:160px;
    margin-top: 253px;
    order: 1;
}
#portfolio {
    height:126px;
    margin-top: 522px;
    order:3;
}
#contact {
    height:130px;
    margin-top: 586px;
    order: 2;
}
